#admin-section{
#projects{}

    table {
      display: table;
      width: 100%;
      background: white;
      margin: 20px 0px;
        thead{
          background: grey;

            th{
                border: 1px solid #000;
                color: white;
            }
          }

        tbody{
            td{
                border: 1px solid #000;
                text-align: center;
                .edit-btn{
                  font-size: 12px;
                  padding: 10px 20px;
                  background: green;
                  display: inline-block;
                  border-radius: 3px;
                  color: white;
                  text-decoration: none;

                }
            }
        }

        td, th {
            padding: 10px 20px;
        }


    }

}
